*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container{
    top: 132px; 
    left: 197px; 
    width: 996px; 
    height: 618px; 
    background: #fff;
    border-radius: 8px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right-content{
    position: absolute; 
    top: 0px; 
    right: 0%;
    left: 551px; 
    width: 445px; 
    height: 618px; 
    background: #00BDD6FF;
    border-radius: 0 8px 8px 0;
}
.right-content img{
    position: absolute; 
    top: 100px; 
    left: 0px; 
    width: 445px; 
    height: 418px; 
    border-radius: 0px; 
}
.left-content{
    padding: 80px 96px;
    position: absolute;
    width: calc(996px - 445px);
    height: 618px;
}
.left-content .title{
  font-family: Epilogue; /* Heading */
  font-size: 32px; 
  line-height: 48px; 
  font-weight: 700; 
  color: #171A1FFF;
}
.form-input{
    text-align: center;
    position: relative;
}
.input-group{
    text-align: left;
    margin-top: 32px;
    margin-bottom: 9px;
}

.input-item input{
    position: relative;
    width: 359px; 
    height: 44px; 
    padding-left: 12px; 
  padding-right: 12px; 
  padding-top: 20px;
  font-family: Inter; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  background: #C8F9FFFF; /* primary-150 */
  border-radius: 4px; /* border-m */
  border-width: 0px; 
  outline: none; 
}
.input-item{
margin-bottom: 24px;
position: relative;
}
.input-item label{
    position: absolute;
    z-index: 10;
    font-family: Inter; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 700;
    top: 0;
    left: 12px
}

.btn-submit{
    width: 359px; 
  height: 44px; 
  padding: 0 16px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  font-size: 16px; 
  line-height: 26px; 
  font-weight: 400; 
  color: #FFFFFFFF; /* white */
  background: #00BDD6FF; /* primary-500 */
  opacity: 1; 
  border: none; 
  border-radius: 4px; /* border-m */
  box-shadow: 0px 8px 17px #00bdd626, 0px 0px 2px #00bdd61F; /* shadow-l */
    cursor: pointer;
}
/* Hover */
.btn-submit:hover {
    color: #FFFFFFFF; /* white */
    background: #00A9C0FF; /* primary-550 */
  }
  /* Pressed */
  .btn-submit:hover:active {
    color: #FFFFFFFF; /* white */
    background: #0095A9FF; /* primary-600 */
  }
  /* Disabled */
  .btn-submit:disabled {
    opacity: 0.4; 
  }

  .other-link{
    margin-top: 32px;
    font-family: Inter;
    font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: #323842FF;
  }

.logo-group{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.logo-group .logo-group-item{
    width: 81px; 
    height: 36px; 
    padding: 0 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #C71610FF; 
    background: #FEF1F1FF; 
    opacity: 1; 
    border: none; 
    border-radius: 18px; 
}
.logo-group-item img{
    width: 16px;
    height: 16px;
    fill: #C71610FF;

}
/* Hover */
.button:hover {
    color: #335CA6FF; 
    background: #F0F4FAFF; 
  }
  /* Pressed */
  .button:hover:active {
    color: #335CA6FF; 
    background: #E7ECF7FF; 
  }
  /* Disabled */
  .button:disabled {
    opacity: 0.4; 
  }

  .input-item input:hover{
    color: #00BDD6FF; /* primary-500 */
  background: #C8F9FFFF; 
  outline: auto;
  }
  .input-item input:focused {
    color: #BCC1CAFF; /* neutral-400 */
    background: #FFFFFFFF; /* white */
  }
  /* disabled */
  .input-item input:disabled {
    color: #00BDD6FF; /* primary-500 */
    background: #C8F9FFFF; /* primary-150 */
  }
  input[type="password"]::-ms-reveal, 
input[type="password"]::-ms-clear, 
input[type="password"]::-webkit-clear-button, 
input[type="password"]::-webkit-reveal-button {
  display: none; /* Ẩn icon mặc định */
}
#togglePassword img{
    position: absolute;
    height: 18px;
    bottom: 4px;
    right: 10px;
    cursor: pointer;
}